* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background: var(--bg);
    color: white;
    user-select: none;
    overflow: hidden;
}


:root {
    --nav: #0000C5;
    --bg: linear-gradient(to bottom, #00008C, #000026);
    --primary: #3B3BFF;
    --userPoint: #5B60FF;
    --botPoint: #3B3BFF;
    --choice: linear-gradient(to top, #7F79FF, #FFA7A7);
    --footer: linear-gradient(to right, #5C47FF, #190064)
}

/* ======== LOADER SECTION ========*/
.loader {
    width: 100%;
    height: 100%;
    align-content: center;
    background: rgb(0, 0, 38);
}

.per {
    text-align: center;
    margin-bottom: 10px;
}

.box {
    position: relative;
    width: 50%;
    height: 10px;
    background: white;
    border-radius: 5px;
    margin: auto;
    overflow: hidden;
}

.load {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--userPoint);
    left: 0;
    transition: all 0.5s ease-in-out;
    animation: load 3s linear;
}

@keyframes load {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

/* ======== NAV BAR SECTION ========*/
nav {
    width: 100%;
    height: 80px;
    background: var(--nav);
    align-content: center;

    & h1 {
        font-size: 50px;
        text-align: center;
    }
}

.user-name {
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: userName 1s linear infinite;
}

@keyframes userName {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}


/* ======== GAME STATUS SECTION ========*/
.game-status {
    width: 80%;
    height: 100px;
    /* background: blue; */
    margin: 25px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;

    & h3 {
        width: 50%;
        height: 50px;
        text-align: center;
        align-content: center;
        font-size: 25px;
        background: red;
        box-shadow: 5px 0px 10px black;
    }

    & h3:nth-child(1) {
        background: var(--userPoint);
        border-radius: 15px 0px 0px 15px;
        z-index: 99;
    }

    & h3:nth-child(2) {
        background: var(--botPoint);
        border-radius: 0px 15px 15px 0px;
        z-index: 99;
    }

    & .status {
        background: white;
        color: var(--primary);
        border-radius: 0px 0px 15px 15px;
        z-index: 9;
    }

}

/* ======== CHOICES SECTION ========*/

main {
    width: 650px;
    height: 300px;
    /* background: red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .choices {
        width: 300px;
        height: 300px;
        background: var(--choice);
        border-radius: 10px;
        text-align: center;
        padding: 10px 5px;
        overflow: hidden;
        box-shadow: 0px 0px 15px black;

        & h2 {
            margin-bottom: 10px;
        }

        & img {
            width: 100%;
            height: 88%;
            border: 2px solid var(--nav);
            border-radius: 5px;
        }
    }
}

/* ======== CHOICE OPTION SECTION ========*/
footer {
    width: 450px;
    height: 100px;
    background: var(--footer);
    border-radius: 15px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: .5s all ease-in-out;

    & button {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;

        & img {
            width: 100%;
        }
    }
}






/* ======== POP UP SECTION ========*/
.pop-up {
    display: none;
    position: absolute;
    width: 500px;
    height: 250px;
    background: rgb(0, 0, 38);
    border-radius: 15px;
    text-align: center;
    align-content: center;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s all ease-in-out;

    & .again-btn {
        padding: 10px 25px;
        border: unset;
        border-radius: 10px;
        color: #212121;
        z-index: 1;
        background: #e8e8e8;
        position: relative;
        font-weight: 1000;
        font-size: 17px;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        transition: all 250ms;
        overflow: hidden;
        user-select: none;
        margin-top: 30px;
    }

    & .again-btn::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 10px;
        background-color: #212121;
        z-index: -1;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        transition: all 250ms
    }

    & .again-btn:hover {
        color: #e8e8e8;
        cursor: pointer;
    }

    & .again-btn:hover::before {
        width: 100%;
    }
}