* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #0C0C0C;
    color: white;
    align-content: center;
}

.loader {
    width: 100%;
    height: 100%;
    align-content: center;
    background: rgb(0, 0, 38);
}

.per {
    text-align: center;
    margin-bottom: 10px;
}

.box {
    position: relative;
    width: 50%;
    height: 10px;
    background: rgb(82, 134, 255);
    border-radius: 5px;
    margin: auto;
    overflow: hidden;
}

.load {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(242, 95, 255);
    left: 0;
    transition: all 0.5s ease-in-out;
    animation: load 3s linear;
}

@keyframes load {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}


.game-sec {
    width: 40%;
    height: 80%;
    border: 2px solid lavender;
    margin: auto;

    & h1 {
        text-align: center  ;
    }
}

.game-info {
    width: 100%;
    height: 45%;
    /* border: 2px solid red; */
    display: flex;
}

.user-side, .bot-side {
    width: 50%;
    height: 100%;
    border: 1px solid blue;
    text-align: center;

    & img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 8px;
        pointer-events: none;
    }
}

.user-choice {
    width: 100%;
    height: 20%;
    border: 2px solid green;
    display: flex; 
    justify-content: space-around;

    & img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: 2px;
    }
}

.result-sec {
    width: fit-content;
    height: 28%;
    /* border: 2px solid yellow; */
    margin: auto;
    align-content: center;

    & h3 {
        font-size: 25px;
    }
}

.pop-up {
    display: none;
    position: absolute;
    width: 500px;
    height: 250px;
    background: rgb(0, 0, 38);
    border-radius: 15px;
    text-align: center;
    align-content: center;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    & button {
        margin-top: 20px;
        font-size: 18px;
        padding: 5px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}
